h3{
    text-align: center;
    padding:15px;
    margin: 0px;
}

/* .w3-sidebar{
    height: 100%;
    width: unset;
    background-color: #fff;
    position: unset;
    z-index: unset;
    overflow: unset;
} */