/* You can add global styles to this file, and also import other style files */

/* html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; } */

/* notifications */
snack-bar-container.success {
    background-color: #5cb85c;
    color : #fff;
  }

  snack-bar-container.warn {
    background-color: rgb(255, 81, 0);
    color : #fff;
  }

  snack-bar-container.notification simple-snack-bar{
    font-size: 15px !important;
    font-weight: bold;
  }

.modal-backdrop { 
    z-index: 100 !important; 
}